.section-three {
    margin: 40px -30px 0 -30px;
    padding: 100px 0;
    background-color: #d5cab7;
    p {
        margin: 30px 0 50px;
    }
    h1, p {
        margin-left: 15px;
    }
}
.contact-img {
    display: none;
}
.container {
    font-weight: 100;
    transition: all, 1500ms;
    padding: 0;
    margin: 0;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 15px;
}
.contact-name {
    display: flex;
    flex-direction: row;
}

#firstname, #lastname, #email, .subject {
    border: 1px solid gray;
    background-color: #fafafa;
    border-radius: 5px;
    height: 45px;
    margin-top: 5px;
}
#firstname {
    width: 90%;
}
#email {
    width: 100%;
}
#firstname, #lastname, #email, .subject, #message {
    padding: 10px;
}
.subject-lab{
    margin-top: 20px;
}

.subject {
    margin-bottom: 20px;
}
#message {
    min-height: 150px;
    background-color: #fafafa;
    border-radius: 5px;
}
.submit-btn {
    margin-top: 20px;
    background-color: $secondary-color;
    border: 1px solid black;
    color: $primary-color;
    width: 30%;
    height: 45px;
    border-radius: 5px;
    transition: transform, box-shadow, 1s;
}

.submit-btn:hover {
    transform: translate(-2px, -10px);
    box-shadow: 3px 3px 2px 0px grey;
}