  header {
    background: url('../../images/hopes.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0 -30px;
    padding: 30px;   
  }
  .inner-headings {
    margin: 100px 0;
    line-height: 50px;
    font-size: 20px;
    color: $primary-color;
  }
 
  .verse {
    font-weight: 300;
    color: #d5ff25c4;
  }

  .more {
    text-decoration: none;
    color: $primary-color;
    background-color: $buttons-color;
    padding: 15px 40px;
  }
