 
  header{
    background-color: $primary-color;
    margin: 0 -30px;
    padding-bottom: 3vh;
  }
  .outer-headings {
    background: url('/images/headerpic.png') no-repeat;
    background-size: cover;
    min-height: 84vh;
    margin: 20px auto;
    padding: 30px; 
  
        border-radius: 20px;
        height: 80vh;
        width: 95%;
  }
  .inner-headings {
    margin: 100px 0;
    line-height: 50px;
    font-size: 20px;
    color: $primary-color;
  }
 
  .verse {
    font-weight: 300;
    color: black;
  }