//-----------THEME COLORS---------------

$primary-color: #efeee5;
$secondary-color: #504c44; 
$buttons-color: #ffd672d9;


//------------------FONTS---------------


$brand-font: 'Courier New', Courier, monospace;
$title-font: 'Caveat Brush', cursive;


//-----------MEDIA QUERIES--------------


$small-view: '(min-width: 375px)';
$mobile-view: '(min-width: 480px)';
$tablet-view: '(min-width: 900px)';
$laptop-view: '(min-width: 992px)';
$desktop-view: '(min-width: 1024px)';