@media screen and #{$small-view} {
    .welcoming {
        margin-bottom: -1rem;
    }
    .navbar-collapse > h1 {
        font-size: 35px;
    }
      .inner-headings {
        margin: 20px 0;
      }
      .more {
        padding: 15px 30px;
      }

}
@media screen and #{$mobile-view} {
    .navbar-collapse > h1 {
        font-size: 40px;
    }
    .inner-headings {
        margin: 150px 0;
      } 

}


@media screen and #{$tablet-view} {
    .navbar-collapse > h1 {
        font-size: 35px;
    }

    .links {
        display: inline;
    }
    .links a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 0 5px;
        transition: all 0.5s;
    }
    .navbar-expand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar, .menu {
        display: none;
    }

    .section-one {
        display: flex;
        flex-direction: row;
    }
    .quizz {
        flex: 15%;
        border: 1px solid black;
        margin-right: 15px;
        padding: 30px;
        border-radius: 20px;
        // box-shadow: 2px 2px 2px grey;

        & > p {
                line-height: 180%;
        }
    }
    .purple {
        top: 36%;
    }
    footer {
        padding: 70px 0;
    }

    .cpr > p:first-child {
        font-size: 26px;
        font-weight: bold;
    }
    .cpr > p:nth-child(2) {
        margin: 15px 0;
    }
    .join {
        margin-left: 62%;
        margin-bottom: -100px;
    }
    .joins-titl > h3 {
        text-align: center;
    }
    .trademark {
        justify-content: flex-start;
        margin-left: 5%;
        margin-top: -140px;
    }
    
}






@media screen and (min-width: 720px) {
    header {
        background-attachment: fixed;
        min-height: 84vh;
    }
    .more {
        display: none;
    }
    
    .joins-titl > h3 {
        font-size: 20px;
    }
    .socials {
        gap: 50px;
    }
    .bi {
        height: 25px;
        color: black;
    }
   
    .cpr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cpr > p {
        font-size: 15px;
     
    }
    .designer-lg {
        display: contents;
    }
    .designer {
        display: none;
    }
}



@media screen and (min-width: 764px) {
   
    .quote, .verse {
        font-size: 27px;
    }

    .section-two {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 4%;
    }
    .card {
        max-width: 48%;
    }
   
    
    .outer-headings {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .inner-headings {
        line-height: 50px;
        height: 150px;
        font-size: 35px;
        text-align: center;
        overflow: hidden;
      }
      
      .inner-headings span {
        position: relative;
        color: whitesmoke;
        animation: animation 3s ease;
        animation-delay: 2.4s;
        animation-fill-mode: forwards;
      }
      
      @keyframes animation {
        from {top: 0px;}
        to {top: -150px;}
      }
    
}


@media screen and #{$laptop-view} {
    .links a{
        font-size: 17px;
    }
}



@media screen and #{$desktop-view} {
    header {
        margin: 20px -15px;
        border-radius: 20px;
        height: 95vh;
    }
    .links a{
        font-size: 18px;
    }
    .landing > h1 {
        text-align: left;
    }
    .landing a {
        display: none;
    }
    .quizz {
        margin-right: 30px;
        padding: 30px;
        & > p {
                line-height: 200%;
        }
    }
    .purple {
        top: 30%;
    }
}
