@media screen and #{$small-view} {
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
  width: 40px;
  height: 2px;
  transition-duration: 1s;
}

    .welcoming {
        margin-bottom: -1rem;
    }
    .navbar-collapse > h1 {
        font-size: 25px;
        transition-duration: 1s;
    }
      .inner-headings {
        margin: 20px 0;
      }

      .lg-vrs {
        width: 85%;
    }

}
@media screen and #{$mobile-view} {
    .hamburger-menu {
        top: 27px;
    }
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
      height: 3px;;
}
    .navbar-collapse > h1 {
        font-size: 33px;
    }
    .inner-headings {
        margin: 150px 0;
      } 

}


@media screen and #{$tablet-view} {
    .navbar-collapse > h1 {
        font-size: 35px;
    }

    .links {
        display: flex;
        align-items: center;
        margin: 20px 30px 0;
        transition-property: color;
        transition-duration: 1s;

        a:hover {
            color: orange;
        }
    }
    .btn {
        background-color: transparent;
        color: black;
    }
    .dropdown-menu a {
        line-height: 220%;
    }
    ul.dropdown-menu.show{
        box-shadow: black 2px 7px 10px 0px;
        transform: translate3d(0px, 40px, 0px) !important;
    }

    .links a{
        text-decoration: none;
        color: black;
        font-size: 15px;
        padding: 0 12px;
        transition: all 0.5s;
    }
    .navbar-expand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar, .menu {
        display: none;
    }

    .section-one {
        display: flex;
        flex-direction: row;
    }
    .quizz {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #efeee5;
        flex: 15%;
        border: 1px solid black;
        margin-right: 15px;
        padding: 30px;
        border-radius: 20px;
        transition: transform, box-shadow, 1s;

        & > p {
                line-height: 180%;
                justify-self: flex-start;
        }
        & > img {
            display: inherit;
            transform: scaleX(-1);
            height: 150px;
            align-self: flex-start;
        }
    }
    .quizz:hover {
        transform: translate(-2px, -10px);
        box-shadow: 6px 9px 5px 3px grey;
        background-color: #cfc3a8;
    }

    footer {
        padding: 70px 0;
    }

    .cpr > p:first-child {
        font-size: 26px;
        font-weight: bold;
    }
    .cpr > p:nth-child(2) {
        margin: 15px 0;
    }
    .join {
        margin-left: 62%;
        margin-bottom: -100px;
    }
    .joins-titl > h3 {
        text-align: center;
    }
    .trademark {
        justify-content: flex-start;
        margin-left: 5%;
        margin-top: -140px;
    }
    
}






@media screen and (min-width: 720px) {
    .outer-headings{
        background-attachment: fixed;
    }
    
    .joins-titl > h3 {
        font-size: 20px;
    }
    .socials {
        gap: 50px;
    }
    .bi {
        height: 25px;
        color: black;
    }
   
    .cpr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cpr > p {
        font-size: 15px;
     
    }
    .designer-lg {
        display: contents;
    }
    .designer {
        display: none;
    }
}



@media screen and (min-width: 764px) {
   
    .quote, .verse {
        font-size: 27px;
    }

    .section-two {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 4%;
    }
   
    .card {
        max-width: 48%;
 
    }
   
   
    
    .outer-headings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .inner-headings {
        line-height: 50px;
        height: 150px;
        font-size: 35px;
        text-align: center;
        overflow: hidden;
      }
      
      .inner-headings span {
        position: relative;
        color: whitesmoke;
        animation: animation 3s ease;
        animation-delay: 2.4s;
        animation-fill-mode: forwards;
      }
      
      @keyframes animation {
        from {top: 0px;}
        to {top: -150px;}
      }
    


      .section-three {
        h1, p {
            margin-left: 30px;
        }
    }
    .contact-form {
        margin-left: 30px;
    }

    .section-two {
        display: contents;
    }

    .card-img > img {
        translate: 0;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        border: 1px solid black;
        transition: all 1s;
        width: 300px;
        transition: transform, box-shadow, 2s;
        animation: translate forwards;
        animation-timeline: view(400px 200px);
    }

    @keyframes translate {
        to {transform: translate(-10px, -20px);
            box-shadow: 13px 14px 10px grey;}
    }

    .right-side > img {
        border-radius:35% 50% 65% 62%/79% 40% 60% 50%;
    }
    .card-words {
        margin-left: 50px;

        h2 {
            font-size: 37px;
        }
        p {
            font-size: 17px;
            letter-spacing: 2px;
            width: 90%;
        }
    }
    .lg-vrs {
        width: 60%;
    }
    .card {
        max-width: 100%;
        margin-top: 95px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .reverse {
        flex-direction: row-reverse;
    }
}


@media screen and #{$laptop-view} {
    .links a{
        font-size: 17px;
    }
    .section-three {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 100px 30px;
    }
    .contact-form {
        width: 40vw;
    }
    .contact-img {
        display: inherit;

        & > img {
            height: 350px;
        }
    }
    
}



@media screen and #{$desktop-view} {
   
    .links a{
        font-size: 18px;
    }
    .landing > h1 {
        text-align: left;
    }
    .landing a {
        display: none;
    }
    .quizz {
        margin-right: 30px;
        padding: 30px;
        & > p {
            line-height: 200%;
        }
    }

    .card-img > img {
        width: 550px;
    }
    .card-words {
        h2 {
            font-size: 45px;
        }
        p {
            font-size: 20px;
        }
    }

    .contact-form {
        width: 50vw;
    }
    
    
}
